body {
    margin: 0;
    padding: 0;
    background-color: rgb(145, 145, 145);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-top: 30px;
    padding-top: 35px;
    margin-bottom: 30px;
    color: black;
}
h2{
    font-size: 16px;
    padding-bottom: 12px;
}
a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 11px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
}

.tile-share-button svg {
    margin-left: 7px;
    margin-top: 6px;
}


.image-container {
    height: 7rem; 
    border-radius: 48px;
    padding-bottom: 15px;
}

.image-container img {
    height: 100%;
    margin-top: 50px;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}


@media only screen and (max-width: 768px) {
    body {
      margin: 0;
      padding: 0;
    }
    
    header {
      padding: 8px;
      margin-top: 10px;
    }
    
    .container {
      width: 85%;
      max-width: 400px;
      margin: 10px;
    }
    
    h1 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .image-container {
      height: 7rem;
    }
    
    .tile-share-button {
      width: 30px;
      height: 30px;
    }
  }

a, button, input, textarea {
    -webkit-tap-highlight-color: transparent;
}

.tile-share-button {
    /* ... */
    cursor: pointer; /* adiciona um cursor de ponteiro para indicar que o elemento é clicável */
  }
  
  .tile-share-button:hover {
    /* ... */
    background-color: #444; /* muda a cor de fundo ao passar o mouse por cima */
  }
  
  .tile-share-button:active {
    /* ... */
    background-color: #666; /* muda a cor de fundo ao clicar */
  }